.about{
  display: flex;
  padding: 300px 0 300px 40vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image:url('http://img.yesebaby.com/images/201502/goods_img/5965_P_1422930284015.jpg') ;
  background-size:cover;
  .text{
    margin: 10px 0px 10px 0;
    color:black;
  }
}
